[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=F-r-eiertag
Exec=invoker --single-instance --type=e /usr/bin/freiertag
Icon=/usr/share/icons/hicolor/80x80/apps/freiertag.png
Categories=Development;
