Source: f-r-eiertag
Maintainer: Gabriel Boehme <m.gabrielboehme@googlemail.com>
Section: user/development
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.1
X-Python-Version: 2.6

Package: freiertag
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pyside.qtgui, python-pyside.qtopengl, python-pyside.qtdeclarative
Description: App die deutsche Schulferien und Feiertage anzeigen kann.
 Die App "Freiertag" bietet die Möglichkeit sich die deutschen Schulferien oder Feiertage nach Bundesland und Jahr anzeigen zu lassen. Im Moment werden die Jahre 2011-2013 abgedeckt. Als Datenquelle dienen die iCal Daten von www.schulferien.org/iCal. Der Quellcode der Anwendung steht unter der GNU GPL Lizenz Version 3.0 und kann unter: https://github.com/AlphaX2/Freiertag heruntergeladen werden.
 .
